<div class="auth-container">
    <div class="color-overlay"></div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Register</h2>
            <form autocomplete="off"
                  [formGroup]="registerForm"
                  (ngSubmit)="register()">
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text"
                        name="firstname"
                        id="firstname"
                        class="form-control input-glass"
                        formControlName="firstname"
                        [class.is-invalid]="registerForm.get('firstname').invalid && registerForm.get('firstname').touched">
                    <small *ngIf="registerForm.get('firstname').invalid && registerForm.get('firstname').touched" class="text-danger text-left">
                        First name is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text"
                        name="lastname"
                        id="lastname"
                        class="form-control input-glass"
                        formControlName="lastname"
                        [class.is-invalid]="registerForm.get('lastname').invalid && registerForm.get('lastname').touched">
                    <small *ngIf="registerForm.get('lastname').invalid && registerForm.get('lastname').touched" class="text-danger text-left">
                        Last name is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                        name="username"
                        id="username"
                        class="form-control input-glass"
                        formControlName="username"
                        [class.is-invalid]="registerForm.get('username').invalid && registerForm.get('username').touched">
                    <small *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched" class="text-danger text-left">
                        Username is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                        name="password"
                        id="password"
                        class="form-control input-glass"
                        formControlName="password"
                        [class.is-invalid]="registerForm.get('password').invalid && registerForm.get('password').touched">
                    <small *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="text-danger text-left">
                        Password is required
                    </small>
                </div>
                <div class="form-actions">
                    <button *ngIf="!loading else loader" type="submit" [disabled]="registerForm.invalid" class="btn text-white bg-orange">Register</button>
                    <ng-template #loader>
                        <button type="submit" class="btn text-white bg-orange" disabled><i class="fas fa-circle-notch"></i> Loading... </button>
                    </ng-template>
                    <a routerLink="/login" class="btn btn-link text-white">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>