* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    --bg-white: #F4F6F9;
}

body {
    background: var(--bg-white);
}

.pointer {
    cursor: pointer;
}

.full-card {
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/****************
    Profile
****************/

.profile-container .card {
    width: 15em;
}

.avatar img {
    width: 8em;
}

/****************
    Starships
****************/

.starships-container {
    margin: 1em 0;
}

.starship-card img {
    height: 100%;
    object-fit: cover;
}

.starship-card p {
    margin: 0;
}

/***************************
    Single Starship Page
****************************/



/************************
    Create Starship
*************************/